<!--

<div class='container' ng-init="myPattern2='images/rain-pattern.png'">
          <hr>
          <h3>Notes of Interest:</h3>
            <p> - Responsive, fits in any container.</p>
            <p> - Can use images without being scoped</p>
          <br><br>
          <h3>HTML:</h3>
          <code>&lt;div ng-parallax pattern="'images/grey-pattern.png'" speed="0"&gt;&lt;/div&gt;</code>
          <br>
          <code>&lt;div ng-parallax pattern="'http://lorempixel.com/g/400/600/people/8'" speed="2" reverse="false" &gt;&lt;/div&gt;</code>
          <br><br>
          <hr>
          <hr>
          <div class='large-box'>
            <div ng-parallax pattern="'images/grey-pattern.png'" speed="0" reverse="true" ></div>
          </div>
          <div class='large-box'>
            <div ng-parallax pattern="'http://lorempixel.com/g/400/600/people/8'" speed="12" reverse="false" ></div>
          </div>
          <div class='large-box'>
            <div ng-parallax pattern="'http://lorempixel.com/400/1000/abstract/8'" speed="1" reverse="true" ></div>
          </div>
          <div class='large-box'>
            <div ng-parallax pattern="'images/grey-pattern.png'" speed="0" reverse="true" ></div>
          </div>
      </div>-->
<!--<h1> SOMETHING IS HAPPENING HERE!!!!</h1>-->


